* {page-break-after:auto;user-select:none;}
html {
  font-family:sans-serif;
  font-size:1em;
  line-height:1em;
  background:#eee;
  color:black;
  padding:0;
}
body {
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items:center;
}
#input {
  width:100%;
  max-width:40em;
  user-select:text;
}
#output {
  margin:.5em;
  padding:0;
  list-style-type:none;
  font-size:1.5em;
  cursor:default;
}
#output li {
  page-break-inside:avoid;
  min-height:1.2em;
  line-height:1.4em;
}
#weight {
  width:30em;
}
.redacted {
  background:black;
  color:rgba(255,255,255,0);
  user-select:text;
}
.redacted:hover {
  color:rgba(255,255,255,1);
}
.redacted::selection {color:rgba(255,255,255,1);}
.hide {display:none;}
#toggleui {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  font-size:1.5em;
  color:#999;
}
#toggleui:hover {color:black;}
#toggleui:focus {outline:0;}

@media print {
  html,body {
    height:99%;
    background:white;
  }
  #instructions {display:none;}
  #input {display:none;}
  #filename {display:none;}
  #newfile {display:none;}
  #save {display:none;}
  #weight {display:none;}
  #toggleui {display:none;}
  #output {
    font-family:arial;
    font-size:10pt;
  }
  #output li {line-height:15pt;}
  .redacted {
    background-color:white;
    color:rgba(0,0,0,0);
    border-bottom:1px solid black;
  }
}